<div class="container-fluid">
	<div id="splitter" kendo-splitter
		orientation="'vertical'">
		<div kendo-splitter
			panes="[{contentUrl: 'app/views/channel.html', min: '500px', size: '500px'},
			{contentUrl: 'app/views/feed.html'}]"
			orientation="'horizontal'">
			<div></div>
			<div></div>
		</div>
		<div kendo-splitter
			panes="[{contentUrl: 'app/views/feedContent.html', min: '500px', size: '500px'},
			{contentUrl: 'app/views/statistic.html', min: '500px'}]"
			orientation="'horizontal'">
			<div></div>
			<div></div>
		</div>
	</div>
</div>